body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-nav {
  text-align: right;
  margin-bottom: 50px;
  padding: 0 25px;
  background-color: antiquewhite;
}

a {
  color: #E2959B;
  text-decoration: none;
  transition: all .25s ease;

}

a:hover {
  color: #6B4070;
  text-decoration: underline;
}

.main-nav a {
  display: inline-block;
  padding: 25px 25px;
}

body{
  background-color: #F8F8F8
}

.auth-container
{
  text-align: center;
  margin: 20px;
  display: grid;
}

.auth-container h1 {
  color: #6B4070;
}
.auth-container form{
  display: grid;
  max-width: 400px;
  text-align: center;
  margin-left: 500px;
}

.auth-container .submit{
  background-color:#E2959B;
  
}